# TODO: move all on-disk JSONs to small sql database (on postgresql)

# tmp
**/data/
*.md

# will always keep these
.env
__pycache__/
**/logs
**.DS_Store
**.egg-info/
/node_modules

# NEVER REMOVE
gen-lang-client-0098386767-e2821eb74ced.json